@tailwind base;
@tailwind components;
@tailwind utilities;

.storm-marker {
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
